<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For DeviceSDK: -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <!-- For the Geolocation module -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--
    Asking for this permission might get the app rejected in Play Store if no prominent
    disclosure and user consent request are implemented in the app
    https://support.google.com/googleplay/android-developer/answer/9888076
    -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_TASKS"
        android:maxSdkVersion="20" />

    <!-- For Activity recognition: -->
    <uses-permission
        android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"
        android:maxSdkVersion="28" />
    <!-- For devices running SDK level 28 or below -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".SampleApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".activities.StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SdkActionsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.JavaSampleActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.KotlinSampleActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.ComposeSampleActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.CoroutineSampleActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.LiveDataSampleActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>